<h1>Update Inventory Information</h1>

<%= form_with url: inventory_path(@inventory), method: :patch, local: true do |f| %>

  <%= f.label :quantity, "Quantity:" %>
  <%= f.number_field :quantity %><br><br>

  <%= f.label :unit_price, "Unit Price:" %>
  <%= f.number_field :Unit_price %><br><br>

  <%= f.submit %>
<% end %>
