<h1>Update Inventory Information</h1>

<%= form_with url: inventory_path(@inventory), method: :patch, local: true do |f| %>
  <%= f.label :product_id, "Product ID:" %>
  <%= f.number_field :product_id %><br><br>

  <%= f.label :quantity, "Quantity:" %>
  <%= f.number_field :quantity %><br><br>

  <%= f.label :warehouse_id, "Warehouse ID:" %>
  <%= f.number_field :warehouse_id %><br><br>

  <%= f.submit %>
<% end %>
