<h1>Current Inventories:</h1>

<%= link_to "Create New Inventory", "/warehouse_products/new" %>

<% @warehouse_products.each do |warehouse_product| %>
  <section class="warehouse_product">
    <p class="id">
    Inventory ID: <%= warehouse_product.id %><br>
    </p>
    <p class="product_id">
    Product ID: <%= warehouse_product.product_id %><br>
    </p>
    <p class="product_name">
    Product Name: <%= warehouse_product.product.name %><br>
    </p>
    <p class="warehouse">
    Warehouse: <%= warehouse_product.warehouse.location_name %><br>
    </p>
    <p class="unit_price">
    Unit Price: $<%= warehouse_product.unit_price %><br>
    </p>
    <p class="quantity">
    Quantity: <%= warehouse_product.quantity %><br>
    </p>
    <p class="total_value">
    Total Value: $<%= warehouse_product.total_value %><br><br>
    </p>
    <p class="edit_delete_links">
      <%= link_to "Edit", "/warehouse_products/#{warehouse_product.id}/edit" %>
      <%= link_to "Delete", "/warehouse_products/#{warehouse_product.id}", method: :delete %>
  <%#    <%= link_to "Switch to a Different Warehouse", warehouse_product_path(warehouse_product.id), method: :patch %>
    </p>
  </section>
<% end %>
