<h1>Available Products:</h1>


<% @products.each do |product| %>
  <section class="product<%= product.id %>">
    <p class="name">
    <h3>      <%= product.name %><br></h3>
    </p>
    <ul>
    <li class="quantity_available">
    Quantity Available: <%= product.quantity_available %><br>
    </li>
    <li class="unit_price">
    Unit Price: $<%= product.unit_price %><br>
    </li>
    <li class="storage_requirement">
    Storage Requirement: <%= product.storage_requirement %><br>
    </li>
    <li class="warehouse">
      <h4>Warehouses that have available stock:</h4>
      <% product.warehouse_products.each do |warehouse_product| %>
      <section id="info-<%=warehouse_product.id%>">
        Warehouse Location: <%= warehouse_product.warehouse.location_name  %><br>
        Quantity: <%= warehouse_product.quantity %><br>
        Total Value: $<%= warehouse_product.total_value %><br><br>
      <% end %>
      </section>
    </li>
    </ul>
    <% Warehouse.all.each do |wh| %>
      <p class="add_button">
<%#     <%= button_to "Add #{product.name} to #{wh.location_name} Warehouse", new_warehouse_product_path(warehouse_id: wh.id, product_id: product.id) %>

     <%= form_with url: new_warehouse_product_path(warehouse_id: wh.id, product_id: product.id), method: :post, local: true do |f| %>
     <br><br>
       <%= f.label :quantity, "Quantity to be added:" %>
       <%= f.text_field :quantity %>
       <%= f.submit "Add Product to #{wh.location_name} Warehouse" %><br>
     <% end %>
      </p>
    <% end %>
  </section>
<% end %>
