<h1>Welcome to Warehouse Index Page!</h1>

<h2><%= link_to "Create New Warehouse", new_warehouse_path %></h2>

<% @warehouses.each do |warehouse| %>
  <section class="warehouse">
    <p class="location_name">
    <h2><%= warehouse.location_name %> Warehouse:<br></h2>
    </p>
    <h3>Details: </h3>
    <p class="phone_number">
    Phone Number: <%= warehouse.phone_number %><br>
    </p>
    <p class="address">
    Address: <%= warehouse.address %><br>
    </p>

    <p class="products">
      <h3>Products: </h3>
      <ul>
      <% warehouse.warehouse_products.each do |warehouse_product| %>
        <h5>Product Name: <%= warehouse_product.product_name %></h5>
        <li>Quantity: <%= warehouse_product.quantity %></li>
        <li>Unit Price: $<%= warehouse_product.product.unit_price %></li>
        <li>Total Value: $<%= warehouse_product.total_value %></li>
      <% end %>
      </ul>
    </p>

    <%= link_to "Show Page", warehouse_path(warehouse.id) %>
  </section>
<% end %>
