<h2>Search for an inventory by its ID or product name to add to the warehouse:</h2>

<section>
  <%= form_with url: warehouse_path(@warehouse.id), method: :get, local: true do |f| %>
    <%= f.label :keyword, "Keyword for Searching Inventory:" %>
    <%= f.text_field :keyword %>
    <%= f.submit "Submit Search" %><br>
  <% end %>
  <% if @inventory_found %>
    <%= link_to "Inventory #{@inventory_found.id}", inventory_path(@inventory_found.id) %>
    <%= button_to "Add to the #{@warehouse.location_name} Warehouse", warehouse_inventory_path(@warehouse.id, @inventory_found.id), method: :patch %>
  <% end %>
</section>

<h2>Here are the list of inventories for <%= "#{@warehouse.location_name}" %> Warehouse:</h2>

<% @inventories.each do |inventory| %>
  <section class="inventory<%= inventory.id %>">
    <p class="id">
    Inventory ID: <%= inventory.id %><br>
    </p>
    <p class="product_id">
    Product ID: <%= inventory.product_id %><br>
    </p>
    <p class="product_name">
    Product Name: <%= inventory.product.name %><br>
    </p>
    <p class="unit_price">
    Unit Price: $<%= inventory.unit_price %><br>
    </p>
    <p class="quantity">
    Quantity: <%= inventory.quantity %><br>
    </p>
    <p class="total_value">
    Total Value: $<%= inventory.total_value %><br><br>
    </p>
    <%= link_to "Remove from List", edit_warehouse_inventory_path(@warehouse.id, inventory.id) %>
    <%= link_to "Delete", warehouse_inventory_path(inventory.id), method: :delete %>
  </section>
<% end %>
