<h2>Search for an warehouse_product by its ID or product name to add to the warehouse:</h2>

<section>
  <%= form_with url: warehouse_path(@warehouse.id), method: :get, local: true do |f| %>
    <%= f.label :keyword, "Keyword for Searching WarehouseProduct:" %>
    <%= f.text_field :keyword %>
    <%= f.submit "Submit Search" %><br>
  <% end %>
  <% if @warehouse_product_found %>
    <%= link_to "WarehouseProduct #{@warehouse_product_found.id}", warehouse_product_path(@warehouse_product_found.id) %>
    <%= button_to "Add to the #{@warehouse.location_name} Warehouse", warehouse_warehouse_product_path(@warehouse.id, @warehouse_product_found.id), method: :patch %>
  <% end %>
</section>

<h2>Here are the list of inventories for <%= "#{@warehouse.location_name}" %> Warehouse:</h2>

<% @warehouse_products.each do |warehouse_product| %>
  <section class="warehouse_product<%= warehouse_product.id %>">
    <p class="id">
    WarehouseProduct ID: <%= warehouse_product.id %><br>
    </p>
    <p class="product_id">
    Product ID: <%= warehouse_product.product_id %><br>
    </p>
    <p class="product_name">
    Product Name: <%= warehouse_product.product.name %><br>
    </p>
    <p class="unit_price">
    Unit Price: $<%= warehouse_product.unit_price %><br>
    </p>
    <p class="quantity">
    Quantity: <%= warehouse_product.quantity %><br>
    </p>
    <p class="total_value">
    Total Value: $<%= warehouse_product.total_value %><br><br>
    </p>
    <%= link_to "Remove from List", edit_warehouse_warehouse_product_path(@warehouse.id, warehouse_product.id) %>
    <%= link_to "Delete", warehouse_warehouse_product_path(warehouse_product.id), method: :delete %>
  </section>
<% end %>
