

<%= link_to "Edit #{@warehouse.location_name} Warehouse", edit_warehouse_path(@warehouse.id) %><br>

<h2><%= @warehouse.location_name %> Warehouse Contact Information: </h2>

<p class="phone_number">
Phone Number: <%= @warehouse.phone_number %><br>
</p>
<p class="address">
Address: <%= @warehouse.address %><br>
</p>
<p>***If you need to make changes in <%= @warehouse.location_name %> warehouse's inventory, go to Products or Inventories page</p>
<h2>List of Products for <%= "#{@warehouse.location_name}" %> Warehouse:</h2>

<% @warehouse_products.each do |warehouse_product| %>
  <section class="warehouse_product<%= warehouse_product.id %>">
    <p class="product_name">
    <h3><%= warehouse_product.product.name %></h3>
    </p>
    <p class="product_id">
    Product ID: <%= warehouse_product.product_id %><br>
    </p>
    <p class="unit_price">
    Unit Price: $<%= warehouse_product.unit_price %><br>
    </p>
    <p class="quantity">
    Quantity: <%= warehouse_product.quantity %><br>
    </p>
    <p class="total_value">
    Total Value: $<%= warehouse_product.total_value %><br><br>
    </p>
  </section>
<% end %>
