<!DOCTYPE html>
<html>
  <head>
    <title>FoodDelivery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "See All Products", products_path %>
    <%= link_to "See All Warehouses", warehouses_path %>
    <%= link_to "See All Inventories", "/warehouse_products" %>


    <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
