<!DOCTYPE html>
<html>
  <head>
    <title>FoodDelivery</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>Welcome to Food Delivery Inventory Management Application!</h1>
    <%= link_to "See All Inventories", inventories_path %>
    <%= link_to "Create New Inventory", new_inventory_path %>
    <%= link_to "See All Warehouses", warehouses_path %>
    <%= link_to "Create New Warehouse", new_warehouse_path %>
    <%= yield %>
  </body>
</html>
